libjpeg-turbo-1.0.0.tar.gz
/libjpeg-turbo-1.0.1.tar.gz
/libjpeg-turbo-1.0.90.tar.gz
/libjpeg-turbo-1.1.0.tar.gz
/libjpeg-turbo-1.1.1.tar.gz
/libjpeg-turbo-1.2.0.tar.gz
/libjpeg-turbo-1.2.1.tar.gz
/libjpeg-turbo-1.2.90-20130204svn922.tar.gz
/libjpeg-turbo-1.2.90.tar.gz
